{% extends 'layout.html' %}

{% block content %}

<h3 class="my-5">Resumen de cuenta: </h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Tipo</th>
            <th scope="col">Debe</th>
            <th scope="col">Haber</th>
        </tr>
    </thead>
    <tbody>
        {% for fila in resumen %}
        <tr>
            <th scope="row">{{resumen[0][1]}}</th>
            <td>{{fila[0]}}</td>
            {% if fila[0] == 'Factura' %}
            <td>{{fila[2]}}</td>
            <td></td>
            {% endif %}
            {% if fila[0] == 'Recibo'%}
            <td></td>
            <td>{{fila[2]}}</td>
            {% endif %}

        </tr>
        {% endfor %}

    </tbody>
</table>

<h4 class="my-5 text-end">Total deuda: $ {{total_deuda[0][0]}}</h4>
<div class="d-flex justify-content-end">
    <a class="btn btn-secondary" href="{{url_for('deuda', id = cliente_id)}}">Volver</a>
</div>





{% endblock %}