{% extends 'layout.html' %}

{% block content %}

<h3 class="my-5">Últimas facturas</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Concepto</th>
            <th scope="col">Importe</th>
            <th scope="col">Cliente</th>
        </tr>
    </thead>
    <tbody>
        {% for factura in facturas %}
        <tr>
            <th scope="row">{{factura[2]}}</th>
            <td>{{factura[3]}}</td>
            <td>{{factura[4]}}</td>
            <td>{{factura[6]}}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>


{% endblock %}